In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nflplaybyplay2009to2016/NFL Play by Play 2009-2017 (v4).csv
/kaggle/input/nflplaybyplay2009to2016/NFL Play by Play 2009-2016 (v3).csv
/kaggle/input/nflplaybyplay2009to2016/NFL Play by Play 2009-2018 (v5).csv
/kaggle/input/gufhtugu-publications-dataset-challenge/GP Orders - 2.csv
/kaggle/input/gufhtugu-publications-dataset-challenge/GP Orders - 4.csv
/kaggle/input/gufhtugu-publications-dataset-challenge/GP Orders - 5.csv

In [2]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nfl_data = pd.read_csv("../input/nflplaybyplay2009to2016/NFL Play by Play 2009-2017 (v4).csv")

# set seed for reproducibility
np.random.seed(0)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#analyzing the top5 rows of the dataset
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [4]:
#finding missing value in the data
missing_value_count=nfl_data.isnull().sum()
print(missing_value_count)

print("********************************")

Date             0
GameID           0
Drive            0
qtr              0
down         61154
             ...
Win_Prob     25009
WPA           5541
airWPA      248501
yacWPA      248762
Season           0
Length: 102, dtype: int64
********************************

In [5]:
#missing value count by columns first 10 column as mentioned in the index 
#[0:10]
missing_value_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [6]:
no_of_rows_columns=nfl_data.shape
'''
pandas.DataFrame.shape
Return a tuple representing the dimensionality of the DataFrame.
'''
print("return rows and column of the dataframe")
print(no_of_rows_columns)

return rows and column of the dataframe
(407688, 102)

In [7]:
# number cells in a dataframe is equal to rows X columns
total_cells=np.product(no_of_rows_columns)
print("total_cells ***** ",total_cells)
#missing_values_count was giving us missing values by columns
#total_missing giving us the total cells in the dataframe with missing values
#A.K.A sum of missing_values_count
total_missing = missing_value_count.sum()
print("total_missing ***** ",total_missing)

total_cells *****  41584176
total_missing *****  10342875

In [8]:
# percent of data that is missing
percent_missing= (total_missing/total_cells) * 100
print("percent_missing ****** ",percent_missing)
'''
Figure out this
Formating tips:
Use str.format() to format a number as a percentage
Pass a number into str.format() with "{:.0%}" as str to format the number as a percentage.
a_number = 0.20
percentage = "{:.0%}".format(a_number)
print(percentage)
Output would be like this 20%

To include a specific number of decimal places, use "{:.n%}", where n is the desired number of decimal places.
a_number = 1 / 3
percentage = "{:.2%}".format(a_number)
print(percentage)
Output would be this 33.33%
'''

percent_missing ******  24.87214126835169

'\nFigure out this\nFormating tips:\nUse str.format() to format a number as a percentage\nPass a number into str.format() with "{:.0%}" as str to format the number as a percentage.\na_number = 0.20\npercentage = "{:.0%}".format(a_number)\nprint(percentage)\nOutput would be like this 20%\n\nTo include a specific number of decimal places, use "{:.n%}", where n is the desired number of decimal places.\na_number = 1 / 3\npercentage = "{:.2%}".format(a_number)\nprint(percentage)\nOutput would be this 33.33%\n'

In [9]:
'''
run this code by uncommenting it
If you're sure you want to drop rows with missing values, 
pandas does have a handy function, dropna() to help you do this. 
Let's try it out on our NFL dataset!
nfl_data.dropna()
'''

"\nrun this code by uncommenting it\nIf you're sure you want to drop rows with missing values, \npandas does have a handy function, dropna() to help you do this. \nLet's try it out on our NFL dataset!\nnfl_data.dropna()\n"

In [10]:
print('''
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Oh dear, it looks like that's removed all our data! ðŸ˜± 
This is because every row in our dataset had at least one missing value. 
We might have better luck removing all the columns that have at least one missing value instead.
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
''')

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Oh dear, it looks like that's removed all our data! ðŸ˜±
This is because every row in our dataset had at least one missing value.
We might have better luck removing all the columns that have at least one missing value instead.
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [11]:
print('''
****>> Do not worry just comment the above code or delete it and re run the whole code <<****
''')

****>> Do not worry just comment the above code or delete it and re run the whole code <<****

In [12]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
# axis=1 for Drop columns which contain missing value.
# see below for complete guide for dropna()

'''
Explanation to this w.r.t Pandas official documentation:

pandas.DataFrame.dropna

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)[source]

    Remove missing values.

    See the User Guide for more on which values are considered missing, and how to work with missing data.

    Parameters

        axis{0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0

            Determine if rows or columns which contain missing values are removed.

                0, or â€˜indexâ€™ : Drop rows which contain missing values.

                1, or â€˜columnsâ€™ : Drop columns which contain missing value.

            Changed in version 1.0.0: Pass tuple or list to drop on multiple axes. Only a single axis is allowed.
        how{â€˜anyâ€™, â€˜allâ€™}, default â€˜anyâ€™

            Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

                â€˜anyâ€™ : If any NA values are present, drop that row or column.

                â€˜allâ€™ : If all values are NA, drop that row or column.

        threshint, optional

            Require that many non-NA values.
        subsetcolumn label or sequence of labels, optional

            Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.
        inplacebool, default False

            If True, do operation inplace and return None.

    Returns

        DataFrame or None

            DataFrame with NA entries dropped from it or None if inplace=True.

Ref URL
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html


See also

DataFrame.isna for       Indicate missing values.
DataFrame.notna for      Indicate existing (non-missing) values.
DataFrame.fillna for     Replace missing values.
Series.dropna for        Drop missing values.
Index.dropna for         Drop missing indices.


'''
#This function returns the first n rows for the object based on position.
#It is useful for quickly testing if your object has the right type of data in it.
columns_with_na_dropped.head()
'''
 DataFrame.head(n=5)[source]

    Return the first n rows.

    This function returns the first n rows for the object based on position. 
    It is useful for quickly testing if your object has the right type of data in it.

    For negative values of n, 
    this function returns all rows except the last n rows, equivalent to df[:-n].

    Parameters

        nint, default 5

            Number of rows to select.

    Returns

        same type as caller

            The first n rows of the caller object.


'''

'\n DataFrame.head(n=5)[source]\n\n    Return the first n rows.\n\n    This function returns the first n rows for the object based on position. \n    It is useful for quickly testing if your object has the right type of data in it.\n\n    For negative values of n, \n    this function returns all rows except the last n rows, equivalent to df[:-n].\n\n    Parameters\n\n        nint, default 5\n\n            Number of rows to select.\n\n    Returns\n\n        same type as caller\n\n            The first n rows of the caller object.\n\n\n'

In [13]:
print("The output of the above")
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

The output of the above

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [14]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])
print('''We've lost quite a bit of data, 
         but at this point we have successfully removed all the NaN's from our data.''')

Columns in original dataset: 102

Columns with na's dropped: 41
We've lost quite a bit of data,
         but at this point we have successfully removed all the NaN's from our data.

In [15]:
# re run this code to see results
'''
# number cells in a dataframe is equal to rows X columns
total_cells=np.product(no_of_rows_columns)
print("total_cells ***** ",total_cells)
#missing_values_count was giving us missing values by columns
#total_missing giving us the total cells in the dataframe with missing values
#A.K.A sum of missing_values_count
total_missing = missing_value_count.sum()
print("total_missing ***** ",total_missing)
# percent of data that is missing
percent_missing= (total_missing/total_cells) * 100
print("percent_missing ****** ",percent_missing)
'''

'\n# number cells in a dataframe is equal to rows X columns\ntotal_cells=np.product(no_of_rows_columns)\nprint("total_cells ***** ",total_cells)\n#missing_values_count was giving us missing values by columns\n#total_missing giving us the total cells in the dataframe with missing values\n#A.K.A sum of missing_values_count\ntotal_missing = missing_value_count.sum()\nprint("total_missing ***** ",total_missing)\n# percent of data that is missing\npercent_missing= (total_missing/total_cells) * 100\nprint("percent_missing ****** ",percent_missing)\n'

In [16]:
# explore the placeholders like %s,%d ,:{}
#use google and utilize that information
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])
print("We've lost quite a bit of data, but at this point we have successfully removed all the NaN's from our data.")

Columns in original dataset: 102

Columns with na's dropped: 41
We've lost quite a bit of data, but at this point we have successfully removed all the NaN's from our data.

In [17]:
print("do complete the below after this chapter and explore the codes of others as well")
print("https://www.kaggle.com/code/rtatman/data-cleaning-challenge-handling-missing-values")

do complete the below after this chapter and explore the codes of others as well
https://www.kaggle.com/code/rtatman/data-cleaning-challenge-handling-missing-values